streamlit
langgraph
langchain-groq
langchain-community
langchain-core
langchain-google-community
google-auth-oauthlib
duckduckgo-search
beautifulsoup4
streamlit-mic-recorder
gTTS
chromadb
sentence-transformers
python-dotenv
pysqlite3-binary
google-generativeai==0.8.3
Pillow
edge_tts
asyncio


#gemini-flash-latest