streamlit
langchain-google-genai
langgraph
langchain
python-dotenv
duckduckgo-search
gtts
streamlit-mic-recorder
chromadb
langchain-community
# New addition (just in case the search library needs to be explicitly named)
ddg-search